
<footer id="ashade-footer">
    <div class="ashade-footer-inner">
        <div style="margin-top: 15px;" class="ashade-footer__socials">
            <ul class="ashade-socials">
                <li><a href="https://www.facebook.com/movonwrld">Facebook</a></li>
                <li><a href="https://www.instagram.com/movon.world/">Instagram</a></li>
            </ul>
        </div>
        <div class="ashade-footer__copyright">
            Copyright &copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved.
        </div>
    </div>
</footer>

<style>
    #ashade-header {
        transition: top 0.3s !important;
    }
     
</style>
<script>
    // var prevScrollpos = window.pageYOffset;
    // window.onscroll = function() {
    // var currentScrollPos = window.pageYOffset;
    //  var width = $(window).width();
    //  var height = $(window).height();
     
    //   var fromTop = $("body").scrollTop();
    //   console.log(fromTop);
    // //  if(width > 600){
    //   if (prevScrollpos > currentScrollPos) {
    //     document.getElementById("ashade-header").style.top = "0";
    //   } else {
    //     document.getElementById("ashade-header").style.top = "-130px";
    //   }
    //   prevScrollpos = currentScrollPos;
    // // }
    // // else
    // // {
    // //     document.getElementsByClassName('ashade-header-inner').style.padding = "20px 20px";
    // //     document.getElementsByClassName('ashade-header-inner').style.boxShadow = "0 0 5px 10px #0000005e";
    // //     document.getElementsByClassName('ashade-header-inner').style.backgroundColor = "#0000005e";
    // //     document.getElementsByClassName('ashade-header-inner').style.border = "17px solid #0000005e";

    // // }
    // }
    </script>