<style>
.ashade-aside-toggler {
  display: none !important;
}
.active a {
    color: #fff !important;
}
</style>
<script src="js/jquery.min.js"></script>
<nav class="ashade-nav">
    <ul class="main-menu">
        <li data-set="1" class="menu-item-has-children">
            <a class="nav-button" href="/">Home</a>
        </li>
        <li data-set="2" class="menu-item-has-children">
            <a class="nav-button" href="/portfolio">Showcase</a>
        </li>
        <li data-set="3" class="menu-item-has-children ">
            <a class="nav-button" href="/about">About Us</a>
        </li>
        <li data-set="4" class="menu-item-has-children">
            <a class="nav-button" href="/services">Services</a>
        </li>
        
        <li data-set="5" class="menu-item-has-children">
            <a class="nav-button" href="/enquiry">SHOOT REQUEST</a>
        </li>
        <li data-set="6" class="menu-item-has-children">
            <a class="nav-button" href="/contact">Contact</a>
        </li>
        <!-- <li>
            <a href="#" class="ashade-aside-toggler">
                <span class="ashade-aside-toggler__icon01"></span>
                <span class="ashade-aside-toggler__icon02"></span>
                <span class="ashade-aside-toggler__icon03"></span>
            </a>
        </li> -->
    </ul>
</nav>



<script>
let pageId = localStorage.getItem("pageId");
if(pageId != null)
{
    jQuery('.menu-item-has-children').removeClass('active');
    var nav = jQuery('.menu-item-has-children').find("[data-set='" + pageId + "']").prevObject[pageId - 1].classList.add('active'); 
}



 jQuery('.nav-button').click(function(e){
 localStorage.setItem("pageId",jQuery(this)[0].parentElement.dataset.set);
});
</script>
