<style>
  .ashade-aside-toggler {
    display: none !important;
  }
  .active a {
    color: #fff !important;
  }
</style>
<script src="js/jquery.min.js"></script>
<nav class="ashade-nav">
  <ul class="main-menu">
    <li class="menu-item-has-children">
      <a class="nav-button" href="/">Home</a>
    </li>
    <li class="menu-item-has-children">
      <a class="nav-button" href="/portfolio">Showcase</a>
    </li>
    <li style="display: none" data-set="3" class="menu-item-has-children">
      <a class="nav-button" href="/about">About Us</a>
    </li>
    <li style="display: none" data-set="4" class="menu-item-has-children">
      <a class="nav-button" href="/services">Services</a>
    </li>

    <li class="menu-item-has-children">
      <a class="nav-button" href="/enquiry">SHOOT REQUEST</a>
    </li>
    <li data-set="6" class="menu-item-has-children">
      <a class="nav-button" href="/contact">Contact</a>
    </li>
    <!-- <li>
            <a href="#" class="ashade-aside-toggler">
                <span class="ashade-aside-toggler__icon01"></span>
                <span class="ashade-aside-toggler__icon02"></span>
                <span class="ashade-aside-toggler__icon03"></span>
            </a>
        </li> -->
  </ul>
</nav>

<script>
  setTimeout(function () {
    currLoc = $(location).attr("href");
    var myString = currLoc.split("4000").pop();
    jQuery(".menu-item-has-children").each(function () {
      if ($(this)[0].firstElementChild.pathname == myString) {
        $(this).addClass("active");
      }
    });
  }, 1000);
</script>
