<style>
.ashade-aside-toggler {
  display: none !important;
}
</style>
<nav class="ashade-nav">
    <ul class="main-menu">
        <li class="menu-item-has-children">
            <a href="/">Home</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/portfolio">Showcase</a>
        </li>
        <li class="menu-item-has-children ">
            <a href="/about">About Us</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/services">Services</a>
        </li>
        
        <li class="menu-item-has-children">
            <a href="/enquiry">SHOOT REQUEST</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/contact">Contact</a>
        </li>
        <!-- <li>
            <a href="#" class="ashade-aside-toggler">
                <span class="ashade-aside-toggler__icon01"></span>
                <span class="ashade-aside-toggler__icon02"></span>
                <span class="ashade-aside-toggler__icon03"></span>
            </a>
        </li> -->
    </ul>
</nav>
